:root {
    --back: rgb(115, 38, 76);
    --back2: hsla(234, 79%, 65%, 0.26);
    --foredark: hsla(0, 0%, 10%, 1);
    --forelight: hsla(0, 0%, 100%, 1);
    --border: hsla(0, 0%, 20%, .8);
    --borderlight: hsla(0, 0%, 33%, .3);
    --shadow: hsl(0, 0%, 50%);
    --zebra: hsla(234, 76%, 77%, 0.26);
}

body {
    font-family: "Trebushet MS", Arial, serif;
}

table {
    margin: 10px auto;
    border: thin solid var(--border);
    box-shadow: 0 0 10px var(--shadow);
    border-collapse: collapse;
}

caption {
    padding: 10px;
    caption-side: bottom;
    color: var(--border);
    font-size: 1rem;
    font-weight: 500;
}

tr:first-child th,
.highlight {
    background-color: var(--back);
    color: var(--forelight);
}

th,
td {
    padding: 7px 15px;
    border: 1px solid var(--borderlight);
}

th {
    background-color: var(--back2);
    font-size: larger;
}

.special {
    background-color: var(--back);
}

td {
    text-align: center;
}

tbody tr:nth-child(even) {
    background-color: var(--zebra);
}