@font-face {
    font-family: 'bronkohregular';
    src: url('fonts/bronkoh-regular-bf65519bc788d98-webfont.woff');
}

@font-face {
    font-family: 'bronkohextrabold';
    src: url('fonts/bronkoh-extrabold-bf65519bc761d7b-webfont.woff');
}

:root {
    font-family: 'bronkohregular';
    --font_breg: 'bronkohregular';
    --font_bxbold: 'bronkohextrabold';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    color: #000;
    font-family: var(--font_breg), Arial, Helvetica, sans-serif;
    /* margin: 0 auto; */
}

body {
    /* max-width: 100%; */
}

main {
    /* background-color: #999; */
    /* background-image: url("/scoots/images/beach-background.webp");
    background-repeat: no-repeat;
    background-size: cover; */
}

header {
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: #0C326B;
}

#menu {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    text-decoration: none;
    padding: .5rem .75rem;
    /* background-color: #2F3061; */
    color: #fff;
}

#menu::before {
    content: "≡";
    position: absolute;
    right: 10px;
    top: 2px;
}

.navigation {
    font-family: var(--font_bxbold);
    font-size: small;
    justify-content: center;
    padding: 20px;
}

.navigation li {
    display: none;
    padding: 5px;
    margin: 0;
}

.navigation a {
    display: block;
    padding: .5rem;
    text-align: center;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
}

.navigation a:hover,
.navigation a:active {
    color: #000;
    background-color: #AAF3D7;
}

/* .active::before {
    content: "👉 ";
} */

.show li {
    display: block;
}

#menu.show::before {
    content: "x";
}

ul {

    list-style-type: none;
}

.banner {
    padding: 10px;
    position: relative;
    background-color: #ebebeb;
    justify-content: center;
    align-items: center;
}

/* .banner-text,
.material-icons {
    color: #000;
} */

.banner-text {
    font-size: 1.1rem;
    text-align: center;
    padding: 20px;
}

.banner-temperature {
    font-size: 1.3rem;
    font-weight: 700;
}

.banner-close {
    position: absolute;
    top: 4px;
    right: 10px;
    font-size: 20px;
    font-weight: bolder;
    border: none;
    background: none;
}

.weather-events-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    padding: 20px;
}

.current-weather,
.tomorrow-weather,
.day-after-tomorrow-weather {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
}

.weather {
    align-items: center;
    text-align: center;
    padding-bottom: 20px;
    background-color: #ebebeb;
    border: 1px solid #ebebeb;
}

footer {
    text-align: center;
    padding: 20px;
    color: #fff;
    background-color: #0C326B;
}


/*--------- Form ------------*/

form fieldset {
    margin: 0 auto;
    max-width: 600px;
    border: 1px solid #000;
    border-radius: 10px;
    padding: 10px;
    background-color: #fff;
}

/* form legend {
    padding: 0px;
} */

form label {
    display: block;
    padding-top: 1rem;
}

form label input {
    display: block;
    font-size: 1rem;
    border-radius: 4px;
    padding: .75rem;
    width: 100%;
    max-width: 20rem;
    background-color: rgba(0, 0, 0, 0.1);
}

/* .rental-period-div {
    display: flex;
    align-items: center;
} */

.rental-period-div label {
    display: inline-flex;
    margin-right: 40px;
    align-items: center;
    margin-right: 30px;
    /* display: inline-block; */
}

.rental-period-div input[type="radio"] {
    margin-right: 10px;
    /* display: inline-block; */
    /* vertical-align: middle; */
}

.radio-label {
    cursor: pointer;
    margin-right: 70px;
}

input[type="radio"] {
    transform: scale(1.2);
    margin-right: 5px;
}

label {
    display: flex;
    align-items: center;
}

.rental-container {
    border: 1px solid #000;
    border-radius: 5px;
    padding: 20px;
    position: relative;
    max-width: 500px;
}

.deleteButton {
    position: absolute;
    top: 6px;
    right: 5px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: .8rem;
}

#rentalInputs {
    padding-top: 10px;
    padding-bottom: 10px;

}

.totalCost {
    font-weight: bold;
    padding: 10px 0px 10px 0px;
}


form input.submitBtn {
    display: block;
    border: none;
    background-color: #0C326B;
    color: #fff;
    border-radius: 5px;
    padding: .75rem 1.5rem;
    margin: 0 auto;
    /* width: 96%; */
    /* max-width: 15rem; */
}