@font-face {
    font-family: 'bronkohregular';
    src: url('fonts/bronkoh-regular-bf65519bc788d98-webfont.woff');
}

@font-face {
    font-family: 'bronkohextrabold';
    src: url('fonts/bronkoh-extrabold-bf65519bc761d7b-webfont.woff');
}

:root {
    font-family: 'bronkohregular';
    --font_breg: 'bronkohregular';
    --font_bxbold: 'bronkohextrabold';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    color: #000;
    font-family: var(--font_breg), Arial, Helvetica, sans-serif;
    /* margin: 0 auto; */
}

body {
    max-width: 100%;

}

main {

    /* background-color: #999; */
    /* background-image: url("/scoots/images/beach-background.webp");
    background-repeat: no-repeat;
    background-size: cover; */
}

header {
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: #0C326B;
}

#menu {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    text-decoration: none;
    padding: .5rem .75rem;
    /* background-color: #2F3061; */
    color: #fff;
}

#menu::before {
    content: "≡";
    position: absolute;
    right: 10px;
    top: 2px;
}

.navigation {
    font-family: var(--font_bxbold);
    font-size: small;
    justify-content: center;
    padding: 20px;
}

.navigation li {
    display: none;
    padding: 5px;
    margin: 0;
}

.navigation a {
    display: block;
    padding: .5rem;
    text-align: center;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
}

.navigation a:hover,
.navigation a:active {
    color: #000;
    background-color: #AAF3D7;
}

/* .active::before {
    content: "👉 ";
} */

.show li {
    display: block;
}

#menu.show::before {
    content: "x";
}

ul {

    list-style-type: none;
}

.banner {
    padding: 10px;
    position: relative;
    background-color: #ebebeb;
    justify-content: center;
    align-items: center;
}

/* .banner-text,
.material-icons {
    color: #000;
} */

.banner-text {
    font-size: 1.1rem;
    text-align: center;
    padding: 20px;
}

.banner-temperature {
    font-size: 1.3rem;
    font-weight: 700;
}

.banner-close {
    position: absolute;
    top: 4px;
    right: 10px;
    font-size: 20px;
    font-weight: bolder;
    border: none;
    background: none;
}

.hero {
    position: relative;
}

.hero img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.wave-design-layer-1,
.wave-design-layer-2,
.wave-design-layer-3 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    z-index: 2;
}

.wave-design-layer-1 svg {
    position: relative;
    display: block;
    width: calc(196% + 1.3px);
    height: 108px;
    transform: rotateY(180deg);
}

.wave-design-layer-1 .shape-fill {
    fill: #6AD4E8;
    /* opacity: 100%; */
}

.wave-design-layer-2 svg {
    position: relative;
    display: block;
    width: calc(196% + 1.3px);
    height: 128px;
    transform: rotateY(180deg);
}

.wave-design-layer-2 .shape-fill {
    fill: #6AD4E8;
    opacity: 65%;
}

.wave-design-layer-3 svg {
    position: relative;
    display: block;
    width: calc(196% + 1.3px);
    height: 148px;
    transform: rotateY(180deg);
}

.wave-design-layer-3 .shape-fill {
    fill: #6AD4E8;
    opacity: 45%;
}

.wave-design-layer-4,
.wave-design-layer-5,
.wave-design-layer-6 {
    position: absolute;
    /* top: 0; */
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    /* z-index: 2; */
}

.wave-design-layer-4 svg {
    position: relative;
    display: block;
    width: calc(196% + 1.3px);
    height: 108px;
    transform: rotateY(180deg);
}

.wave-design-layer-4 .shape-fill {
    fill: #AAF3D7;
    /* opacity: 100%; */
}

.wave-design-layer-5 svg {
    position: relative;
    display: block;
    width: calc(196% + 1.3px);
    height: 128px;
    transform: rotateY(180deg);
}

.wave-design-layer-5 .shape-fill {
    fill: #AAF3D7;
    opacity: 65%;
}

.wave-design-layer-6 svg {
    position: relative;
    display: block;
    width: calc(196% + 1.3px);
    height: 148px;
    transform: rotateY(180deg);
}

.wave-design-layer-6 .shape-fill {
    fill: #AAF3D7;
    opacity: 45%;
}

/* .gradient-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
} */

.rentals {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    align-items: center;
    text-align: center;
    /* background-color: bisque; */
    z-index: 3;
    background-image: linear-gradient(#6AD4E8 45%, #99EBDB, #AAF3D7);
}

hr {
    border: 1px solid;
    width: 20%;
    margin: auto;
}

.scooters,
.atvs,
.jeeps,
.jetski {
    align-items: center;
    text-align: center;
    padding: 10px;
}

.scooters img,
.atvs img,
.jeeps img,
.jetski img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    padding: 5px;
    background-color: #fff;
}

.button {
    background-color: #0C326B;
    color: #35F083;
    padding: 10px;
    border-radius: 25px;
    text-decoration: none;
    margin: 20px auto 20px;
    width: 50%;
}

/* .weather-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    padding: 20px;
} */

.current-weather,
.tomorrow-weather,
.day-after-tomorrow-weather {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
}

.weather {
    align-items: center;
    text-align: center;
    padding-bottom: 20px;
    background-color: #ebebeb;
    border: 1px solid #ebebeb;
    width: 100%;
}

.footer-content {
    color: #35F083;
}

footer {
    text-align: center;
    padding: 20px;
    color: #fff;
    background-color: #0C326B;
}



/*--------- Rentals --------------- */
:root {
    --back: rgb(115, 38, 76);
    --back2: hsla(0, 0%, 95%, 1);
    --foredark: hsla(0, 0%, 10%, 1);
    --forelight: hsla(0, 0%, 100%, 1);
    --border: hsla(0, 0%, 20%, .8);
    --borderlight: hsla(0, 0%, 33%, .3);
    --shadow: hsl(0, 0%, 50%);
    --zebra: hsla(234, 76%, 77%, 0.26);
}

/* body {
    font-family: "Trebushet MS", Arial, serif;
} */

table {
    /* margin: 0 auto; */
    width: 75%;
    margin: 10px auto;
    border: thin solid var(--border);
    box-shadow: 0 0 10px var(--shadow);
    border-collapse: collapse;
}

tr:first-child th,
.highlight {
    background-color: var(--back);
    color: var(--forelight);
}

th,
td {
    padding: 7px 15px;
    border: 1px solid var(--borderlight);
}

th {
    background-color: var(--back2);
    /* background-color: var(--back2); */
    font-size: larger;
}

.special {
    background-color: var(--back);
}

td {
    text-align: center;
}

tbody tr:nth-child(even) {
    background-color: var(--zebra);
}

/* th,
td {
    border: 1px solid #000;
    padding: 8px;
    text-align: center;
} */


/*--------- Reservations ------------*/

/* body {
    background-image: linear-gradient(#6AD4E8 45%, #99EBDB, #AAF3D7);
} */

form fieldset {
    margin: 0 auto;
    max-width: 600px;
    border: 1px solid #000;
    border-radius: 10px;
    padding: 10px;
    background-color: #fff;
}

/* form legend {
    padding: 0px;
} */

form label {
    display: block;
    padding-top: 1rem;
}

form label input {
    display: block;
    font-size: 1rem;
    border-radius: 4px;
    padding: .75rem;
    width: 100%;
    max-width: 20rem;
    background-color: rgba(0, 0, 0, 0.1);
}

/* .rental-period-div {
    display: flex;
    align-items: center;
} */

.rental-period-div label {
    display: inline-flex;
    margin-right: 40px;
    align-items: center;
    margin-right: 30px;
    /* display: inline-block; */
}

.rental-period-div input[type="radio"] {
    margin-right: 10px;
    /* display: inline-block; */
    /* vertical-align: middle; */
}

.radio-label {
    cursor: pointer;
    margin-right: 70px;
}

input[type="radio"] {
    transform: scale(1.2);
    margin-right: 5px;
}

label {
    display: flex;
    align-items: center;
}

.rental-container {
    border: 1px solid #000;
    border-radius: 5px;
    padding: 20px;
    position: relative;
    max-width: 500px;
}

.deleteButton {
    position: absolute;
    top: 6px;
    right: 5px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: .8rem;
}

#rentalInputs {
    padding-top: 10px;
    padding-bottom: 10px;

}

.totalCost {
    font-weight: bold;
    padding: 10px 0px 10px 0px;
}


form input.submitBtn {
    display: block;
    border: none;
    background-color: #0C326B;
    color: #fff;
    border-radius: 5px;
    padding: .75rem 1.5rem;
    margin: 0 auto;
    /* width: 96%; */
    /* max-width: 15rem; */
}