@media screen and (min-width: 640px) {

    header {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        /* justify-content: center; */
    }

    .logo img {
        width: 250px;
        height: auto;

    }

    .navigation {
        display: flex;
        justify-content: center;
        /* Center items horizontally */
        align-items: center;
    }

    .navigation li {
        display: block;
        flex: 1 1 100%;
    }

    .navigation a {
        text-align: center;
    }

    #menu {
        display: none;
    }

    body {
        max-width: 100%;
        margin: auto;
    }


    main {
        margin: auto;
        max-width: 100%;
    }

    h2 {
        grid-column: 1 / -1;
        text-align: center;
        width: 100%;
        margin-bottom: 0;
    }

    /* hr {
        grid-column: 1 / -1;
    } */

    .vehicles {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(325px, 1fr));
        gap: 20px;
        max-width: 100%;
    }

    .vehicles-headline {
        grid-column: 1 / -1;
    }

    .button-container {
        grid-column: 1 / -1;
    }

    /* .button {
        width: 400px;
    } */

    /* .scooters-container,
    .atvs-container,
    .jeeps-container,
    .jetski-container {
        
        max-width: 340px;
        height: 386px;
        
        margin: 5px;
        padding: 5px;
        
    } */


    .button {
        grid-column: 1 / -1;
        width: 200px;
    }

    .social {
        display: inline-block;
        grid-column: 1 / -1;
    }

    .weather {
        /* grid-column: 2; */
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 5px;
    }

    .weather hr {
        grid-column: 1 / -1;
    }

    /* .rentals {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
    } */

    .scooters {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .rentals-headline {
        grid-column: 1 / -1;
    }

    .pricing {
        display: grid;
        grid-template-columns: 3fr;
        max-width: 100%;
    }



    /* table {
        max-width: 100%;

    } */



}