* {

    padding: 0;
    box-sizing: border-box;
}


h1,
h2 {
    font-family: 'Poppins', 'Trebuchet MS', 'Arial', 'sans-serif';
    color: #fff;
}

h3 {
    font-family: 'Poppins', 'Arial', 'sans-serif';
    color: #000;
}

body {
    max-width: 100%;
}

header {
    background-color: #2F3061;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

nav {
    justify-content: center;
    background-color: #A53860;
    padding: 10px;
}

nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
}

nav li {
    display: block;
    flex: 1 1 auto;
    text-decoration: none;
    color: #fff;
    font-family: 'Poppins', 'Trebucher MS', 'Arial', 'sans-serif';
    text-align: center;
}

nav a {
    color: #fff;
    font-family: 'Poppins', 'Trebuchet MS', 'Arial', 'sans-serif';
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 10px;
}

main {
    font-family: 'Trebuchet MS', 'Arial', 'sans-serif';
    margin: 0px 30px;
}

main ol li {
    margin: 10px 20px;
}

main ul li {
    list-style: none;
}

.color-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.color-box {
    color: #fff;
    width: 130px;
    height: 70px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.hex-codes {
    display: flex;
}

footer {
    margin: auto;
    background-color: #000;
    color: white;
    text-align: center;
    padding: 20px;
}