:root {
    --max-width: 640px;
    --border-color: #bbb;
    --bg-light: #e6f2ff;
    --bg-dark: black;
    --text-light: white;
    --padding: 1rem;
}

body {
    font-family: 'Roboto', sans-serif;
}

header,
main,
footer {
    max-width: var(--max-width);
    margin: var(--padding) auto;
    border: 1px solid var(--border-color);
    padding: var(--padding);
}

header {
    background-color: var(--bg-dark);
    color: var(--text-light);
}

main,
footer {
    background-color: var(--bg-light);
}

main {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--padding);
}

section {
    padding: var(--padding);
    background-color: #fff;
}