@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

h1 {
    text-align: center;
}

body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    box-shadow: 0 0 30px #777;
}

.birth-info {
    margin: .15rem;
}

section {
    display: grid;
    place-items: center;
    margin: 0.15rem;
    padding: 1rem;
    background-color: #dadada;
    border: 1px solid #bbb;
}

img {
    width: auto;
    max-width: 100%;
    box-shadow: 0 0 30px #777;
    height: 200px;
    border: 1px solid #000;
}

footer {
    text-align: center;
    padding: 30px;
}