:root {
    font-family: 'Lato';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-family: 'Trebuchet MS', 'Arial', 'sans-serif';
    text-align: center;
}

h2,
h3,
h4 {
    text-align: center;
    padding: 10px;
}

.logo-box {
    display: flex;
    align-items: center;
    justify-content: center;
}



body {
    max-width: 100%;
}

main {
    margin: 0;
}

header {
    display: flex;
    background-color: #fff;
    text-align: center;
    justify-content: center;
    padding: 35px;
}

#menu {
    font-family: 'Trebuchet MS', 'Arial', 'sans-serif';
    display: block;
    font-size: 2rem;
    font-weight: 500;
    text-decoration: none;
    padding: .5rem .75rem;
    background-color: #2F3061;
    color: #fff;
}

#menu::before {
    content: "≡";
    position: absolute;
    right: 15px;
}

.navigation {
    justify-content: center;
    background-color: #2F3061;
    padding: 20px;
}

.navigation li {
    display: none;
    padding: 0;
    margin: 0;
}

.navigation a {
    display: block;
    padding: .5rem;
    text-align: center;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
}

.navigation a:hover,
.navigation a:active {
    color: white;
    background-color: #a53860;
}

.show li {
    display: block;
}

#menu.show::before {
    content: "x";
}

ul {
    list-style-type: none;
}

.hero {
    position: relative;
}

.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.herotextbox {
    position: absolute;
    background-color: #fff;
    top: 50px;
    left: 50px;
    right: 50px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.element-button {
    background-color: #2F3061;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
}

hr {
    width: 20%;
    margin: auto;
}

.herotextbox p {
    padding: 10px;
}

.container {
    display: grid;
    gap: 20px;
    padding: 20px;
    margin: 0 auto;
    background-color: #2f30612d;
}

#message {
    font-size: larger;
    font-weight: 700;
    padding: 20px;
    margin: 0 auto;
    text-align: center;
}

.sidebar {
    display: grid;
    background-color: #1c666650;
    padding: 20px;
    margin: 0 0 20px 0;
    border-radius: 10px;
    grid-template-columns: 1fr;
}

.facts-container,
.facts-list,
.news,
iframe {
    max-width: 100%;
    margin: 0 auto;
}


.facts-container {
    width: 100%;
    height: auto;
    overflow: hidden;
    padding-top: 20px;
    position: relative;
    background-color: #fff;
    border-radius: 10px;
    align-items: center;
}

.facts-list {
    text-align: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    transition: transform 1s ease-in-out;
}

.facts-list li {
    width: 100%;
    flex-shrink: 0;
    padding: 20px;
    text-align: center;
}

@keyframes autoplay {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

.news {
    width: 100%;
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
    margin: 20px auto;
}

.visit-links h4 {
    word-wrap: break-word;
    max-width: 100%;
}

/* .calendar {
    width: 100%;
    padding: 50px;
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
    margin: 20px auto;
} */


.photo-gallery {
    display: grid;
    grid-template-columns: 1fr;
}

.photo-gallery img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    background-color: #fff;
    padding: 10px;
    box-shadow: 2px 2px 4px #2f2f2f;
}


/* ------- Dark Mode -------*/
.switch {
    position: absolute;
    top: 20px;
    right: 20px;
    display: inline-block;
    width: 50px;
    height: 24px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}


.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #FED74F;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: '🔆';
    display: flex;
    align-items: center;
    justify-content: center;
    height: 22px;
    width: 22px;
    left: 1px;
    bottom: 1px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2F3061;

}

input:hover+.slider {
    box-shadow: 0 0 20px #fff;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    content: '';
    background-image: url('../images/moon.webp');
    background-size: cover;
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

#mode {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 3rem;
    cursor: pointer;
    font-size: 1.5rem;
}

.dark-mode {
    background-color: #000;
    color: #fff;
    border-color: #eee;
}

.dark-mode header,
.dark-mode .herotextbox,
.dark-mode .membership-benefits,
.dark-mode .events,
.dark-mode .weather,
.dark-mode .spotlights {
    background-color: #000;
}

.dark-mode form legend,
.dark-mode .facts-container {
    color: #fff;
    background-color: #000;
}

.dark-mode .feature {
    color: #000;
}

/*-------- FORM ----------- */
:root {
    --border: #999;
    --legend: #2f3061;
}

form fieldset {
    margin: 2rem auto;
    max-width: 600px;
    border: 1px solid #999;
    /* background-color: #f3f3fc; */
    border-radius: 10px;
    padding: 1.5rem 5%;
}

form legend {
    color: var(--legend);
}

form label {
    display: block;
    padding-top: 1rem;
}

form label input,
form label textarea {
    display: block;
    font-size: 1rem;
    border-radius: 4px;
    padding: .75rem;
    max-width: 50rem;
    width: 80%;

}

.membership-option {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
    max-width: 100%;
}

.non-profit {
    background-color: rgb(209, 220, 235);
}

.brnze {
    background-color: #f4e6cf;
}

.slvr {
    background-color: #d8d8d8;
}

.gld {
    background-color: #fcf7cf;
}


.membership-option h2 {
    margin-top: 0;
}

.membership-option ul {
    list-style: none;
    padding: 0;
}

.membership-option ul li {
    margin-bottom: 5px;
    text-align: center;
}

.membership-option .price {
    font-weight: 700;
    margin-top: 10px;
    text-align: center;
}

.membership-option input[type="radio"] {
    margin-top: 5px;
}

/* table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #000;
    border-radius: 10px;
}

th,
td {
    padding: 15px 6px;
    border: 1px solid #000;
    border-radius: 0;
}

td {
    text-align: center;
}

thead th {
    background-color: #2F3061;
    color: #fff;
}

tbody tr:nth-child(odd) {
    background-color: #f0f0f0;
}

tbody tr:nth-child(even) {
    background-color: #e0e0e0;
}

tbody tr:last-child {
    background-color: transparent;
}

.feature {
    font-size: small;
} */

.button-container {
    text-align: center;
}

form input.submitBtn {
    border: none;
    background-color: #157679;
    color: white;
    border-radius: 10px;
    padding: .75rem 1.5rem;
    margin: 0 auto 2rem auto;
    width: 96%;
    max-width: 20rem;

}

.thankyoumessage {
    margin: 0 auto;
    text-align: center;
    padding: 200px;
}


footer {
    display: grid;
    grid-template-columns: 1fr;
    color: #fff;
    background-color: #2F3061;
    text-align: center;
    justify-content: center;
    padding: 40px;
}

/* -------- Directory -------*/

.directory-view {
    margin-left: auto;
    /* margin: 5rem right; */
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0.5rem;
    background-color: #bed;
    text-align: center;
}

.directory-view button {
    padding: .5rem;
    font-weight: 700;
}

.membersGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 20px;
    align-items: center;
    text-align: center;
}

.membersList article {
    margin-bottom: 20px;
    padding: 15px;
    background-color: #f0f0f0;
    display: list-item;
    list-style: none;
}

.membersList {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    /* Remove default list styles */
    padding: 0;
}

.membersList article {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0;

}

/* .membersList li {
    margin-bottom: 20px;
    padding: 15px;
    background-color: #f0f0f0;
    
} */

.membersList img {
    display: none;
}

.membersList article:nth-child(even) {
    background-color: #9e9de9;
}