:root {
    font-family: 'Lato';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-family: 'Trebuchet MS', 'Arial', 'sans-serif';
    text-align: center;
}

h2,
h3,
h4 {
    text-align: center;
    padding: 20px;
}

.logo-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    max-width: 100%;
}

header {
    display: flex;
    background-color: #fff;
    text-align: center;
    justify-content: center;
    padding: 20px;
}

#menu {
    font-family: 'Trebuchet MS', 'Arial', 'sans-serif';
    display: block;
    font-size: 2rem;
    font-weight: 500;
    text-decoration: none;
    padding: .5rem .75rem;
    background-color: #2F3061;
    color: #fff;
}

#menu::before {
    content: "≡";
    position: absolute;
    right: 15px;
}

.navigation {
    justify-content: center;
    background-color: #2F3061;
    padding: 20px;
}

.navigation li {
    display: none;
    padding: 0;
    margin: 0;
}

.navigation a {
    display: block;
    padding: .5rem;
    text-align: center;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
}

.navigation a:hover,
.navigation a:active {
    color: white;
    background-color: #a53860;
}

.active::before {
    content: "👉 ";
}

.show li {
    display: block;
}

#menu.show::before {
    content: "x";
}

ul {
    list-style-type: none;
}

.banner {
    padding: 10px;
    position: relative;
    background-color: #ebebeb;
    justify-content: center;
    align-items: center;
}

.banner-text,
.material-icons {
    color: #000;
}

.banner-text {
    text-align: center;
    padding: 20px;
}

.banner-close {
    position: absolute;
    top: 8px;
    right: 10px;
    font-size: large;
    font-weight: bolder;
    border: none;
    background: none;
}

.hero {
    position: relative;
}

.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.herotextbox {
    position: absolute;
    background-color: #fff;
    top: 50px;
    left: 50px;
    right: 50px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.button {
    background-color: #2F3061;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    margin: 20px auto 20px;
    width: 50%;
}

hr {
    border: 1px solid;
    width: 20%;
    margin: auto;
}

.herotextbox p {
    padding: 10px;
}

.membership-benefits {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    border-radius: 6px;
    background-color: #fff;
    max-width: 80%;
    margin: 0 auto;
}

.benefits-spotlight,
.benefits-advertising,
.benefits-connect {
    align-items: center;
    text-align: center;
    padding: 10px;
}

.weather-events-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    padding: 20px;
}

.current-weather,
.tomorrow-weather,
.day-after-tomorrow-weather {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
}

.events {
    align-items: center;
    text-align: center;
    background-color: #ebebeb;
    border: 1px solid #ebebeb;
}

.events h3,
.events p {
    text-align: left;
    padding: 10px 20px 20px;
}

.weather {
    align-items: center;
    text-align: center;
    padding-bottom: 20px;
    background-color: #ebebeb;
    border: 1px solid #ebebeb;
}

.weather figcaption,
.current-temp-low,
.current-temp-high,
.current-windspeed,
.current-wind-chill,
.tomorrow-desc,
.tomorrow-temp-low,
.tomorrow-temp-high,
.tomorrow-windspeed,
.tomorrow-wind-chill,
.day-after-tomorrow-desc,
.day-after-tomorrow-temp-low,
.day-after-tomorrow-temp-high,
.day-after-tomorrow-windspeed,
.day-after-tomorrow-wind-chill {
    font-size: 12px;
}

.spotlight {
    background-color: #ebebeb;
    margin: 0px 20px 20px;
    border: 1px solid #ebebeb;
}

.spotlight-container {
    padding: 40px;
    background-color: #ebebeb;
    margin: 0 auto;
    border: 1px solid#000;
    border-radius: 10px;
    box-shadow: 0 0 10px;
}

.spotlight .membersGrid {
    margin: 0 auto;
}

footer {
    color: #fff;
    background-color: #2F3061;
    text-align: center;
    padding: 40px;
}

/* ------- Dark Mode -------*/
.switch {
    position: absolute;
    top: 20px;
    right: 20px;
    display: inline-block;
    width: 50px;
    height: 24px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #FED74F;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: '🔆';
    display: flex;
    align-items: center;
    justify-content: center;
    height: 22px;
    width: 22px;
    left: 1px;
    bottom: 1px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2F3061;
}

input:hover+.slider {
    box-shadow: 0 0 20px #fff;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    content: '';
    background-image: url('../images/moon.webp');
    background-size: cover;
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

#mode {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 3rem;
    cursor: pointer;
    font-size: 1.5rem;
}

.dark-mode {
    background-color: #000;
    color: #fff;
    border-color: #eee;
}

.dark-mode .membersGrid .member-details a:visited,
.dark-mode .events a:visited,
.dark-mode .facts-container a:visited,
.dark-mode .visit-links a:visited {
    color: #b495d0;
    background-color: transparent;
    text-decoration: underline;
}

.dark-mode .membersGrid .member-details a,
.dark-mode .events a,
.dark-mode .facts-container a,
.dark-mode .visit-links a {
    color: #ffe344;
    text-decoration: none;
    background-color: transparent;
}

.dark-mode .facts-container .facts-list li,
.dark-mode header,
.dark-mode .herotextbox,
.dark-mode .membership-benefits,
.dark-mode .events,
.dark-mode .weather,
.dark-mode .spotlight,
.dark-mode .directory-view {
    background-color: #000;
}

.dark-mode form legend,
.dark-mode .facts-container {
    color: #fff;
    background-color: #000;
}

.dark-mode .feature,
.dark-mode .membership-option {
    color: #000;
}

.dark-mode .membersList h3,
.dark-mode .membersList p {
    color: #fff
}

.dark-mode .membersList article {
    background-color: #161616;
}

.dark-mode .membersList article:nth-child(even) {
    background-color: #000000;
}

/*------ Discover --------*/
.container {
    display: grid;
    gap: 20px;
    padding: 20px;
    margin: 0 auto;
    background-color: #2f30612d;
}

#message {
    font-size: larger;
    font-weight: 700;
    padding: 20px;
    margin: 0 auto;
    text-align: center;
}

.sidebar {
    display: grid;
    background-color: #1c666650;
    padding: 20px;
    margin: 0 0 20px 0;
    border-radius: 10px;
    grid-template-columns: 1fr;
}

.facts-container,
.facts-list,
.news,
iframe {
    max-width: 100%;
    margin: 0 auto;
}

.facts-container {
    width: 100%;
    height: auto;
    overflow: hidden;
    padding-top: 20px;
    position: relative;
    background-color: #fff;
    border-radius: 10px;
    align-items: center;
}

.facts-list {
    text-align: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    transition: transform 1s ease-in-out;
}

.facts-list li {
    width: 100%;
    flex-shrink: 0;
    padding: 20px;
    text-align: center;
}

@keyframes autoplay {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

.news {
    width: 100%;
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
    margin: 20px auto;
}

.visit-links {
    text-align: center;
    padding: 20px;
}

.visit-links a {
    font-weight: 700;
    font-size: large;
    word-wrap: break-word;
    padding: 20px;
}

.photo-gallery {
    display: grid;
    grid-template-columns: 1fr;
}

.photo-gallery img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    background-color: #fff;
    padding: 10px;
    box-shadow: 2px 2px 4px #2f2f2f;
}

/* -------- Directory -------*/
.directory-view {
    margin-left: auto;
    padding: 0.5rem;
    background-color: #fff;
    text-align: right;
}

.directory-view button {
    padding: .5rem;
    font-weight: 700;
}

.membersGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 20px;
    align-items: center;
    text-align: center;
    word-wrap: break-word;
}

.membersGrid img {
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding-top: 20px;
}

.membersList article {
    padding: 25px;
    background-color: #f0f0f0;
}

.membersList {
    grid-gap: 0;
    display: list-item;
    list-style-type: none;
}

.membersList img,
.membersList div,
.membersList h3,
.membersList p,
.membersList a {
    max-width: 100%;
    word-wrap: break-word;
}

.membersList img {
    display: none;
}

.membersList article:nth-child(even) {
    background-color: #e1e1e1;
}

/*-------- Join Form ----------- */
:root {
    --border: #999;
    --legend: #2f3061;
}

form fieldset {
    margin: 2rem auto;
    max-width: 600px;
    border: 1px solid #999;
    border-radius: 10px;
    padding: 1.5rem 5%;
}

form legend {
    color: var(--legend);
}

form label {
    display: block;
    padding-top: 1rem;
}

form label input,
form label textarea {
    display: block;
    font-size: 1rem;
    border-radius: 4px;
    padding: .75rem;
    max-width: 50rem;
    width: 80%;
}

.membership-option {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
    max-width: 100%;
}

.non-profit {
    background-color: rgb(209, 220, 235);
}

.brnze {
    background-color: #f4e6cf;
}

.slvr {
    background-color: #d8d8d8;
}

.gld {
    background-color: #fcf7cf;
}

.membership-option h2 {
    margin-top: 0;
}

.membership-option ul {
    list-style: none;
    padding: 0;
}

.membership-option ul li {
    margin-bottom: 5px;
    text-align: center;
}

.membership-option .price {
    font-weight: 700;
    margin-top: 10px;
    text-align: center;
}

.membership-option input[type="radio"] {
    margin-top: 5px;
}

.button-container {
    text-align: center;
}

form input.submitBtn {
    border: none;
    background-color: #2F3061;
    color: white;
    border-radius: 5px;
    padding: .75rem 1.5rem;
    margin: 0 auto 2rem auto;
    max-width: 20rem;
}

.thankyoumessage {
    margin: 0 auto;
    text-align: center;
    padding: 200px;
}