* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-family: 'Trebuchet MS', 'Arial', 'sans-serif';
    text-align: center;
    /* align-items: center;
    justify-items: center; */
}

h2 {
    text-align: center;
}

.logo-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    max-width: 100%;
}

main {
    margin: 0;
}

header {
    /* display: flex;
    background-color: #fff;
    text-align: center; */
    /* justify-content: center; */
    padding: 35px;
}

#menu {
    font-family: 'Trebuchet MS', 'Arial', 'sans-serif';
    display: block;
    font-size: 2rem;
    font-weight: 500;
    text-decoration: none;
    padding: .5rem .75rem;
    background-color: #2F3061;
    color: #fff;
    text-align: right;
}

#menu::before {
    content: "≡";
}

.navigation {
    justify-content: center;
    background-color: #2F3061;
    /* padding: 10px; */
}

.navigation li {
    display: none;
    padding: 0;
    margin: 0;
}

.navigation a {
    display: block;
    padding: .5rem;
    text-align: left;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    transition: 0.5s;
}

.navigation a:hover,
.navigation a:active {
    color: white;
    background-color: #33612f;
}

.show li {
    display: block;
}

#menu.show::before {
    content: "x";
}

ul {
    list-style-type: none;
    /* padding: 20px; */
}

.hero {
    position: relative;
    /* height: 40vh; */
}

.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.herotextbox {
    position: absolute;
    background-color: #fff;
    top: 50px;
    left: 50px;
    right: 50px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.benefits {
    position: relative;
    width: 100%;
    height: 100%;
    /* background-color: #6dad6b; */
}

.benefits img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.benefitstextbox {
    position: absolute;
    background-color: #fff;
    top: 50px;
    left: 50px;
    right: 50px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.events {
    background-color: #ebebeb;
    border: 1px solid;
    border-radius: 10px;
    border-color: #000;
    text-align: justify;
    padding: 20px;

}

.weather {
    background-color: #ebebeb;
    border: 1px solid;
    border-radius: 10px;
    border-color: #000;
    text-align: justify;
    padding: 20px;
}

.contact {
    /* font-family: 'Trebuchet MS', 'Arial', 'sans-serif'; */
    display: block;
}

footer {
    /* display: flex; */
    display: grid;
    color: #fff;
    background-color: #2F3061;
    text-align: center;
    justify-content: center;
    padding: 40px;
}