@media screen and (min-width: 640px) {

    .navigation {
        display: flex;
    }

    .navigation li {
        display: block;
        flex: 1 1 100%;
    }

    .navigation a {
        text-align: center;
    }

    #menu {
        display: none;
    }

    body {
        max-width: 100%;
        margin: auto;
    }


    main {
        margin: auto;
        max-width: 100%;
    }

    h2 {
        grid-column: 1 / -1;
        text-align: center;
        width: 100%;
        margin-bottom: 0;
    }

    hr {
        grid-column: 1 / -1;
    }

    .membership-benefits {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }

    .membership-headline {
        grid-column: 1 / -1;
    }

    .button {
        grid-column: 1 / -1;
        width: 200px;
    }

    /* .element-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    } */

    .weather-events-container {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-gap: 20px;
    }


    .events {
        grid-column: 1;
    }

    .weather {
        grid-column: 2;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 5px;
    }

    .weather h2,
    .weather hr {
        grid-column: 1 / -1;
        text-align: center;
    }

    .spotlight {
        display: grid;
    }

    .spotlight .membersGrid {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .membersGrid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    }

    .membersList {
        grid-gap: 0;
        display: list-item;
        list-style-type: none;
    }

    .contact-info {
        display: grid;
    }
}