@media screen and (min-width: 640px) {

    .navigation {
        display: flex;
    }

    .navigation li {
        display: block;
        flex: 1 1 100%;
    }

    .navigation a {
        text-align: center;
    }

    #menu {
        display: none;
    }

    body {
        max-width: 100%;
        margin: auto;
    }


    main {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 10px;
        margin: auto;
        max-width: 100%;
    }

    h2 {
        grid-column: 1 / -1;
        text-align: center;
        width: 100%;
        margin-bottom: 0;
    }

    .membership-benefits {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }

    .membership-headline,
    .element-container {
        grid-column: 1 / -1;
    }

    .element-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .weather-and-events {
        display: flex;

    }

    .events {
        flex: 2;
    }

    .weather {
        flex: 1;
    }

    .footer-content {
        grid-column: 1 / -1;
    }

    .contact-info {
        display: grid;
    }

}