/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-family: 'Rock Salt', 'Trebuchet MS', 'Arial', 'sans-serif';
    color: #ebebeb;
    text-align: center;
}


main {
    font-family: 'Trebuchet MS', 'Arial', 'sans-serif';
    margin: 10px;

}

header {
    display: flex;
    background-color: #14213D;
    align-items: center;
    justify-content: center;
    padding: 25px;
    gap: 30px;
    
}

#lazyimages {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
}


iframe {
    max-width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

footer p {
    padding: 10px;
}

footer {
    margin: auto;
    background-color: #14213D;
    color: #ebebeb;
    text-align: center;
    padding: 20px;
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Rock Salt', 'Trebuchet MS', 'Arial', 'sans-serif';
    color: #ebebeb;
    text-align: center;
}

main {
    font-family: 'Trebuchet MS', 'Arial', 'sans-serif';
    margin: 10px;
}

header {
    display: flex;
    background-color: #14213D;
    align-items: center;
    justify-content: center;
    padding: 25px;
    gap: 30px;
}

#lazyimages {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    max-width: 100%;
    /* Set max-width to 100% of the viewport width or any desired value */
    margin: 0 auto;
    /* Center the container */
}

.lazyimages img {
    width: 100%;
    /* Make images take full width of the container */
    max-width: 100%;
    /* Set a maximum width if needed */
    margin-bottom: 10px;
    /* Add some margin between images */
}

iframe {
    max-width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

footer {
    margin: auto;
    background-color: #14213D;
    color: #ebebeb;
    text-align: center;
    padding: 20px;
    width: 100vw;
    /* Set width to 100% of the viewport width */
}