* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-family: 'Rock Salt', 'Trebuchet MS', 'Arial', 'sans-serif';
  color: #ebebeb;
}

h2 {
  text-align: center;
  color: #14213D;
  background-color: #ade8f4;
  width: 100%;
  padding: 20px;
  margin: 0;

}

h3 {
  display: grid;
  font-family: 'Trebuchet MS', 'Arial', 'sans-serif';
  background-color: #14213D;
  color: #ebebeb;
  max-width: 800px;
  text-align: center;
  margin: auto;
  padding: 20px;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}


main {
  /* display: grid; */
  font-family: 'Trebuchet MS', 'Arial', 'sans-serif';
  max-width: 800px;
  margin: auto;
  grid-template-columns: 1fr;
  grid-gap: 20px;

}

header {
  display: flex;
  /* grid-template-columns: auto auto; */
  background-color: #14213D;
  align-items: center;
  justify-content: center;
  padding: 20px;
  gap: 30px;
}

nav {
  /* display: grid; */
  justify-content: center;
  margin: 0 auto;
  max-width: 800px;
  background-color: #ebebeb;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav a {
  display: block;
  padding: .5rem;
  text-align: center;
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 20px;
}

section {
  background-color: #ebebeb;
  border: 1px solid;
  /* border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px; */
  border-radius: 6px 6px;
  border-color: #c8c8c8;
  margin-bottom: 10px;

}

footer {
  margin: auto;
  background-color: #ebebeb;
  max-width: 800px;
  text-align: center;
  padding: 20px;
}