* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-family: 'Rock Salt', 'Trebuchet MS', 'Arial', 'sans-serif';
  color: #ebebeb;
}

h2 {
  font-family: 'Trebuchet MS', 'Arial', 'sans-serif';
  text-align: center;
  background-color: #ade8f4;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 6px 6px 6px 6px;
  margin-bottom: 10px;
}

h3 {
  font-family: 'Trebuchet MS', 'Arial', 'sans-serif';
  background-color: #14213D;
  color: #ebebeb;
  text-align: center;
  padding: 20px;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}

main {
  font-family: 'Trebuchet MS', 'Arial', 'sans-serif';
  padding: 10px;
}

header {
  display: flex;
  background-color: #14213D;
  align-items: center;
  justify-content: center;
  padding: 20px;
  gap: 30px;
}

#menu {
  font-family: 'Trebuchet MS', 'Arial', 'sans-serif';
  display: block;
  font-size: 2rem;
  font-weight: 500;
  text-decoration: none;
  padding: .5rem .75rem;
  background-color: #ebebeb;
  color: black;
}

#menu::before {
  content: "≡";
}

.navigation {
  justify-content: center;
  background-color: #ebebeb;
  padding: 10px;
}

.navigation li {
  display: none;
  padding: 0;
  margin: 0;
}

.navigation a {
  display: block;
  padding: .5rem;
  text-align: left;
  text-decoration: none;
  color: #000;
  font-weight: 500;
  transition: 0.5s;
}

.navigation a:hover,
.navigation a:active {
  color: white;
  background-color: black;
}

.show li {
  display: block;
}

#menu.show::before {
  content: "x";
}

ul {
  list-style-type: none;
  padding: 20px;
}

section {
  background-color: #ebebeb;
  border: 1px solid;
  border-radius: 6px 6px;
  border-color: #c8c8c8;
}

.learning-activities {
  margin-bottom: 10px;
}

.learning-activities li {
  margin-bottom: 12px;
}

section p {
  text-align: center;
  margin: 20px;
  padding: 20px;
}

iframe {
  max-width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

footer {
  margin: auto;
  background-color: #14213D;
  color: #ebebeb;
  text-align: center;
  padding: 20px;
}