@media screen and (min-width: 640px) {

    nav ul {
        display: flex;
    }

    nav ul li {
        flex: 1 1 auto;
    }

    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
        max-width: 1080px;
        margin: auto;
    }

    h2 {
        grid-column: 1 / -1;
        text-align: center;
        width: 100%;
        margin-bottom: 0;
    }
}